.image{
    height: 60%;
    width: 25%;
    border-radius: 50px;
    padding-top: 20px;
    margin-top: 40px;
    margin-left: 40px;
}

body{
    background-color: aquamarine;
}

.c1{
    background-color: rgb(87, 87, 179);
}

.c2{
    background-color: aquamarine;
    border-radius: 40px;
    margin-top: 50px;
}

.c3{
    background-color: rgb(78, 70, 116);
    border-radius: 40px;
    margin-top: 50px;
}

.c3{
    background-color: rgb(114, 29, 76);
    border-radius: 40px;
    margin-top: 50px;
}